.question {
    background: #FEFEFE;
    border-radius: 8px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;
}

.question p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

    color: #29292E;
}